:root {
    --redDark: #D2003c;
    --greenDark: #089108;
    --blackTransparent: rgba(0, 0, 0, 0.61);
    --backgroundElement: rgba(0, 0, 0, 0.397);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroundimg_container {
    width: 100%;
    background: url("image/adam-birkett-8nebi46-k_M-unsplash.jpg") no-repeat center center;
    background-size: cover;
} 

.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    color: white;
}

.container--principal {
    background: var(--blackTransparent);
    backdrop-filter: blur(5px);
}

/* PERFIL-----------CONTAINER > PERFIL 1 */
.container .perfil {
    width: 85%;
    margin-top: 30px;
}

.perfil .img__perfil {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.perfil h1 {
    font-size: 25px;
    font-family: 'Play', sans-serif;
}

.perfil p {
    width: 100%;
    padding: 15px;
    text-align: justify;
    border-radius: 5px;
    background: var(--backgroundElement);
    line-height: 22px;
}

/* TITLE__INTEREST-----------CONTAINER > TITLE__INTEREST 2 */
.container .title__interest {
    width: 80%;
    text-align: center;
}

.courses{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* COURSE__1----------CONTAINER > COURSE__1 3 */
.container .course__1 {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.course__1--background {
    background: var(--backgroundElement);
    margin-bottom: 50px;

}

.course__1 .img__course {
    width: 100%;
    height: 330px;
    justify-content: center;
}

.course__1 .img__course img {
    width: 90%;
    height: 90%;
    border-radius: 10px;

}
.image--kike{
    object-fit: cover;
    object-position: 0px -50px;
}
.course__1 .course__description h2 {
    margin: 0 0 15px 0;
    text-align: center;
}

.course__1 .course__description p {
    text-align: justify;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scalebtn 2s infinite;
    animation-direction: alternate;
}
@keyframes scalebtn{
    to{
        transform: scale(1.03);
    }
}
.course__1 .buttons a {
    color: white;
    width: 90%;
    height: 45px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    background: var(--redDark);
    margin-top: 15px;
}

.buttons a i {
    font-size: 20px;
    margin-right: 5px;
}

.course__1 .buttons .buttons--walink {
    background: var(--greenDark);
    margin-bottom: 30px;
}
.course__1 .buttons .buttons--walink:hover {
    animation: none;
    
}

@media screen and (min-width: 500px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .backgroundimg_container {
        width: 400px;
        height: 750px;
        border-radius: 10px;
    }

    .container {
        width: 400px;
        height: 750px;
        border-radius: 10px;
    }
    .container--principal {
       overflow-y: scroll;
 }
} 